<!-- /.container-fluid-->
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dictionary</a>
    </li>
    <li class="breadcrumb-item active">Lookup</li>
  </ol>

  <h1>Lookup</h1>
  <hr>

  <div class="row">

    <div class="col-lg-8">
      <!-- Example Bar Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-book"></i> Wörter nachschlagen</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="translationSelect">Sprache auswählen:</label>
              <select class="form-control" id="translationSelect">
                <option>Vn-De</option>
                <option>De-Vn</option>
              </select>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Wort eingeben:</label>
              <textarea class="form-control" aria-label="With textarea" id="formGroupExampleInput"></textarea>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                  <label></label>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Suchen</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>